#header {
    background-image: url('https://w.forfun.com/fetch/df/df73e23b78f3314a80455866e69e62fc.jpeg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    height: 500px;
    line-height: 500px;
}

#navbar a{
    text-decoration: none;
    vertical-align: middle;

    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;

    color: white;

    border-bottom: #FFF;
    background-color: #427A4B;
    border: 5px black;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#navbar {
    display: flex;
    justify-content: center;  
    background-color: #427A4B;
    vertical-align: middle;
    border: 2px white;
}

#navbar a:hover {
    background-color: #286332;
    border-bottom: 2px solid black;
    color: beige;
}

#footer{
    background-color: #427A4B;
    color: white;
    justify-content: center;
    text-align: center;
}